<!DOCTYPE html>
<html ng-app="punann">
<head>
    <meta charset="utf-8">
    <!-- Load angular in head as functionality is dependent on it
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
    <script src="js/lib/bower-angular-translate-2.9.0/angular-translate.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/menu.js"></script>
    <script src="js/directives/menu.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div id="header">
        <div class="name" ng-controller="NameController as nameCtrl">
            <div id="firstName">{{ nameCtrl.firstName }}</div>
            <div class="fade" ng-if="nameCtrl.getFade()">{{ nameCtrl.getCurrentSurname() }}</div>
            <div class="fade" ng-if="!nameCtrl.getFade()">{{ nameCtrl.getCurrentSurname() }}</div>
        </div>
        <div ng-controller="MenuController as menuCtrl">
            <top-menu items="menuCtrl.currentMenu"></top-menu>
        </div>
    </div>

    <div ui-view>
    </div>

</body>
</html>
