<ul>
    <li ng-repeat="skill in synCtrl.skills">
        <h3 class="skillHeading">{{ 'SYNOPSIS.SKILLS.' + skill.prefix + '.HEADING' | translate }}</h3>
        <ul class="skillSection" ng-repeat="section in skill.sections">
            <li>
                <h4>{{ 'SYNOPSIS.SKILLS.' + skill.prefix + '.' + section.heading | translate }}</h4>
                <ul class="skillItems" ng-repeat="item in section.items">
                    <li>
                        <p class="skillItem" ng-repeat="name in item.names">
                            {{ name }}
                        </p>
                        <ul class="skillSubItems" ng-repeat="subitem in item.subitems">
                            {{ subitem }}
                        </ul>
                        <hr>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<ul>
    <li ng-repeat="ability in synCtrl.abilities">
        <h3 class="skillHeading">{{ 'SYNOPSIS.ABILITIES.' + ability.prefix + '.HEADING' | translate }}</h3>
        <ul class="skillSection" ng-repeat="language in ability.languages">
            <li class="listedLanguageItem">
                <h4 class="languageItemName">{{ 'SYNOPSIS.ABILITIES.LANGUAGES.' + language + '.NAME' | translate }}</h4>
                <p class="languageItemLevel">{{ 'SYNOPSIS.ABILITIES.LANGUAGES.' + language + '.LEVEL' | translate }}</p>
            </li>
        </ul>
    </li>
</ul>
