<ul>
    <h3 class="eduTitle">{{ 'EDUCATION.INFORMAL.CNAG.TITLE1' | translate }}</h3>
    <p class="eduDateRange">{{ 'EDUCATION.INFORMAL.CNAG.DATERANGE1' | translate }}</p>
    <h3 class="eduTitle">{{ 'EDUCATION.INFORMAL.CNAG.TITLE2' | translate }}</h3>
    <p class="eduDateRange">{{ 'EDUCATION.INFORMAL.CNAG.DATERANGE2' | translate }}</p>
    <h3 class="eduTitle">{{ 'EDUCATION.INFORMAL.CNAG.TITLE3' | translate }}</h3>
    <p class="eduDateRange">{{ 'EDUCATION.INFORMAL.CNAG.DATERANGE3' | translate }}</p>
    <p class="eduInstitution"><a href="https://cnag.ie">{{ 'EDUCATION.INFORMAL.CNAG.INSTITUTION' | translate }}</a></p>
    <p class="eduNotes">{{ 'EDUCATION.INFORMAL.CNAG.NOTES' | translate }}</p>
</ul>
