<!-- Use the translate filter. Sure, why not? -->

<ul>
    <h3 class="eduTitle">{{ 'INFORMALEDUCATION.CNAG.TITLE1' | translate }}</h3>
    <p class="eduDateRange">{{ 'INFORMALEDUCATION.CNAG.DATERANGE1' | translate }}</p>
    <h3 class="eduTitle">{{ 'INFORMALEDUCATION.CNAG.TITLE2' | translate }}</h3>
    <p class="eduDateRange">{{ 'INFORMALEDUCATION.CNAG.DATERANGE2' | translate }}</p>
    <h3 class="eduTitle">{{ 'INFORMALEDUCATION.CNAG.TITLE3' | translate }}</h3>
    <p class="eduDateRange">{{ 'INFORMALEDUCATION.CNAG.DATERANGE3' | translate }}</p>
    <p class="eduInstitution"><a href="https://cnag.ie">{{ 'INFORMALEDUCATION.CNAG.INSTITUTION' | translate }}</a></p>
    <p class="eduNotes">{{ 'INFORMALEDUCATION.CNAG.NOTES' | translate }}</p>
</ul>
