<div class="mainContent">
    <h1>{{ 'MENU.CONTACT' | translate }}</h1>
    <div class="mainText">
        <table id="contact">
            <tr>
                <td>{{ 'CONTACT.EMAIL' | translate }}</td>
                <td><email-address></email-address></td>
            </tr>
            <tr>
                <td>irc.redbrick.dcu.ie</td>
                <td>coconut</td>
            </tr>
            <tr>
                <td>irc.quakenet.org</td>
                <td>coconut</td>
            </tr>
            <tr>
                <td>LocalSolo</td>
                <td>
                    <a href="https://localsolo.com/profile/26298/?t=badge48">
                        <img class="socialLogo" id="localSolo" src="https://localsolo.com/assets/badges/48X48.png" alt="LocalSolo Freelance">
                    </a>
                </td>
            </tr>
            <tr>
                <td>Twitter</td>
                <td>
                    <a href="https://www.twitter.com/coconutlulz">
                        <img class="socialLogo" src="img/svg/twitter37.svg" alt="Twitter">
                    </a>
                </td>
            </tr>
            <tr>
                <td>LinkedIn</td>
                <td>
                    <a href="https://ie.linkedin.com/in/david-ó-laıġeanáın-00a7481a">
                        <img class="socialLogo" src="img/svg/linkedin21.svg" alt="LinkedIn">
                    </a>
                </td>
            </tr>
            <tr>
                <td>GitHub</td>
                <td>
                    <a href="https://github.com/coconutlulz">
                        <img class="socialLogo" src="img/svg/socialnetwork363.svg" alt="GitHub">
                    </a>
                </td>
            </tr>
        </table>
        <pgp></pgp>
    </div>
</div>
