
<div class="mainContent">
    <h1>Home</h1>
    <p>Tagann an oíċe - seo tosú m'ḟaire. Ní ṫosaífear í sula dtiocfaiḋ bás ċugam. Ní ḃeiṫ bean ċéile, nó tailte, nó clann agam. Ní ḃainfiḋ mé coróin nó iomrá amaċ. Saol agus bás trí ḋualgas. Is mise an claíoṁ sa dorċas. Is mise an garda ar na ballaí. Is mise scaiṫ an ċine ḋaonna mé. Is le Faire na hÓiċe mo ċlú 's mo ṡaol - ar feaḋ na hoíċe seo agus gaċ oíċe eile roṁam.</p>

    <a ui-sref=".list" class="button">List</a>
    <a ui-sref=".paragraph" class="button">Paragraph</a>

    <div ui-view></div>
</div>
