<table id="contact">
    <tr>
        <td>{{ 'CONTACT.EMAIL' | translate }}</td>
        <td><email-address></email-address></td>
    </tr>
    <tr>
        <td>irc.redbrick.dcu.ie</td>
        <td>coconut</td>
    </tr>
    <tr>
        <td>irc.quakenet.org</td>
        <td>coconut</td>
    </tr>
    <tr>
        <td>Cirriculum Vitae</td>
        <td>
            <a href="docs/pdf/cv-biling.pdf">
                <img class="socialLogo" src="img/svg/noun_120080_cc.svg" alt="Cirriculum Vitae">
            </a>
        </td>
    </tr>
    <tr>
        <td>LocalSolo</td>
        <td>
            <a href="https://localsolo.com/profile/26298/?t=badge48">
                <img class="socialLogo" id="localSolo" src="img/png/48X48_circle.png" alt="LocalSolo Freelance">
            </a>
        </td>
    </tr>
    <tr>
        <td>Twitter</td>
        <td>
            <a href="https://www.twitter.com/coconutlulz">
                <img class="socialLogo" src="img/svg/twitter37.svg" alt="Twitter">
            </a>
        </td>
    </tr>
    <tr>
        <td>LinkedIn</td>
        <td>
            <a href="https://ie.linkedin.com/in/davidlynam1">
                <img class="socialLogo" src="img/svg/linkedin21.svg" alt="LinkedIn">
            </a>
        </td>
    </tr>
    <tr>
        <td>GitHub</td>
        <td>
            <a href="https://github.com/coconutlulz">
                <img class="socialLogo" src="img/svg/socialnetwork363.svg" alt="GitHub">
            </a>
        </td>
    </tr>
</table>
<pgp></pgp>
