<ul> 
    <li ng-repeat="position in expCtrl.voluntary">
        <h3 class="expTitle">{{ position.title }}</h3>
        <p class="expOrganisation"><a href="{{ position.link }}">{{ position.organisation }}</a></p>
        <p class="expDateRange">{{ position.dateRange }}</p>
        <ul class="expDuties" ng-repeat="duty in position.duties">
            <li class="expDutiesDuty">
                <span class="expDutyDescription">{{ duty.description }}</span>
                <ul class="expDutyTechnologies" ng-repeat="technology in duty.technologies">
                    <li class="expDutyTechnology">
                        {{ technology }}
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
