<ul>
    <li ng-repeat="qualification in eduCtrl.informal">
        <h3>{{ qualification.title }}</h3>
        <p id="eduInstitution">{{ qualification.institution }}</p>
        <p id="eduDateRange">{{ qualification.startDate }} - {{ qualification.endDate }}</p>
        <p id="eduGrade">{{ qualification.grade }}
            <span id="eduGradeDescription">{{ qualification.gradeDescription }}</span>
        </p>
    </li>
    <h3>{{ 'INFORMALEDUCATION.CNAG.TITLE1' | translate }}</h3>
    <p id="eduDateRange">{{ 'INFORMALEDUCATION.CNAG.DATERANGE1' | translate }}</p>
    <h3>{{ 'INFORMALEDUCATION.CNAG.TITLE2' | translate }}</h3>
    <p id="eduDateRange">{{ 'INFORMALEDUCATION.CNAG.DATERANGE2' | translate }}</p>
    <h3>{{ 'INFORMALEDUCATION.CNAG.TITLE3' | translate }}</h3>
    <p id="eduDateRange">{{ 'INFORMALEDUCATION.CNAG.DATERANGE3' | translate }}</p>
    <p id="eduInstitution"><a href="https://cnag.ie">{{ 'INFORMALEDUCATION.CNAG.INSTITUTION' | translate }}</a></p>
    <p id="eduNotes">{{ 'INFORMALEDUCATION.CNAG.NOTES' | translate }}</p>
</ul>
