<div id="social">
    <a href="docs/pdf/cv-biling.pdf">
        <img class="socialLogo" src="img/svg/noun_120080_cc.svg" alt="Cirriculum Vitae">
    </a>
    <a href="https://localsolo.com/profile/26298/?t=badge48">
        <img class="socialLogo" id="localSolo" src="img/png/48X48_circle.png" alt="LocalSolo Freelance">
    </a>
    <a href="https://www.twitter.com/coconutlulz">
        <img class="socialLogo" src="img/svg/twitter37.svg" alt="Twitter">
    </a>
    <a href="https://ie.linkedin.com/in/david-ó-laıġeanáın-00a7481a">
        <img class="socialLogo" src="img/svg/linkedin21.svg" alt="LinkedIn">
    </a>
    <a href="https://github.com/coconutlulz">
        <img class="socialLogo" src="img/svg/socialnetwork363.svg" alt="GitHub">
    </a>
</div>
